---
layout: default
title: page.title
---
<div class="post">

  <p class="breadcrumb">
    <a href="/">Etusivu</a> /
    <a href="{{ '/assignments/' | prepend: site.baseurl }}">
      Tehtävät </a> / {{ page.title }}
  </p>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      DL: {{ page.due_event.date | date: site.dateformat }}
      {{ page.due_event.date | date: "%H:%M" }}</p>
  </header>

  <div>
    {% if page.due_event %}
    {% endif %}
    <!--p style="font-weight: bold">Tiedostot
      {% if page.pdf %}
      [<a href="{{ page.pdf | prepend: site.baseurl }}">tehtävänanto</a>]
      {% endif %}
      {% if page.attachment %}
      [<a href="{{ page.attachment | prepend: site.baseurl }}">liitteet</a>]
      {% endif %}
      {% if page.solutions %}
      [<a href="{{ page.solutions | prepend: site.baseurl }}">malliratkaisu</a>]
      {% endif %}
    </p-->
  </div>

  <div class="announcement-box" style="margin:30px 0">
    Tämä tehtäväsivu on luonnos, eikä se vastaa kurssin todellista tehtävänantoa.
  </div>

  <article class="post-content">
    {{ content }}
  </article>

</div>