---
layout: page
---

{{ content }}
<ul id="archive">
      {% for asg in site.assignments %}
      <li class="archiveposturl" style="background: transparent">
            <div class="assignment-container">
                  <div class="content">
                        <div class="lecture-date">
                              {{ asg.date | date: site.dateformat }}, {{ asg.date | date: "%H:%M" }}
                              -
                              {{ asg.due_event.date | date: site.dateformat }}, {{ asg.due_event.date | date: "%H:%M" }}
                        </div>
                        <span style="font-weight: bold;">
                              <a href="{{ asg.url | prepend: site.baseurl}}">
                                    {{ asg.title }}
                              </a>
                        </span><br>
                  </div>
            </div>
      </li>
      {% endfor %}
</ul>